body {
	background: #EEEEEF;
}

.wrap {
	width: 800px;
	line-height: 300%;
	text-align: left;
	margin: auto;
	color: rgba(89, 89, 89, 0.8);
	font-size: 30px;
	margin-bottom: 200px;
	margin-top: 100px;
}

.wrap h2 {
	font-size: 40px;
	font-weight: 700;
	margin-top: 100px;
	margin-bottom: 50px;
	color: rgba(89, 89, 89, 1);
}

.wrap h4 {
	font-size:40px
}

.wrap p {
	padding: 5px;
	display: block;
	text-align: justify;
    font-size:40px;
}

.wrap .logo {
	width: 550px;
	height: 200px;
	display: inline-block;
	margin-left: 100px 
}
.wrap .s {
	width: 1050px;
	height: 700px;
	display: inline-block;
    margin-right:100px
}

.wrap .logo_all {
	width: 500px;
	height: 500px;
	display: inline-block;
	margin-left: 150px
}

.screen {
	width:700px;
	height:1300px; 
	margin-left: auto; 
	margin-right: auto; 
	display: block;
}

strong {
	font-weight: 700;
}

